<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="Date-Revision-yyyymmdd" content="20140206"/>
  <meta http-equiv="Content-Language" content="en"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.root }}/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="{{ site.root }}/css/main.css">

  <script type="text/javascript" src="{{ site.root }}/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="{{ site.root }}/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="{{ site.root }}/js/community.js"></script>
</head>
<body>

{% include header.html %}

<article class="container">
  <section class="col-md-12">
    {{ content }}
  </section>
</article>

  {% include footer.html %}

</body>
</html>
