# This file is maintained at site/trunk/content/resources/.htaccess

Redirect permanent /userGuide           http://struts.apache.org/1.x/userGuide
Redirect permanent /faqs                http://struts.apache.org/1.x/faqs
Redirect permanent /struts-core         http://struts.apache.org/1.x
Redirect permanent /faces               http://struts.apache.org/1.x/struts-faces
Redirect permanent /struts-faces        http://struts.apache.org/1.x/struts-faces
Redirect permanent /bsf                 http://struts.apache.org/1.x/struts-scripting
Redirect permanent /struts-bsf          http://struts.apache.org/1.x/struts-scripting
Redirect permanent /struts-scripting    http://struts.apache.org/1.x/struts-scripting
Redirect permanent /struts-plugins      http://struts.apache.org/1.x/struts-extras
Redirect permanent /struts-extras       http://struts.apache.org/1.x/struts-extras
Redirect permanent /struts-taglib       http://struts.apache.org/1.x/struts-taglib
Redirect permanent /struts-el           http://struts.apache.org/1.x/struts-el
Redirect permanent /struts-tiles        http://struts.apache.org/1.x/struts-tiles
Redirect permanent /learning.html       http://struts.apache.org/1.x/learning.html
Redirect permanent /using.html          http://struts.apache.org/1.x/userGuide/index.html
Redirect permanent /shale               http://shale.apache.org
Redirect permanent /struts-shale        http://shale.apache.org
Redirect permanent /flow                http://struts.apache.org/struts-sandbox/struts-flow
Redirect permanent /struts-flow         http://struts.apache.org/struts-sandbox/struts-flow
Redirect permanent /struts-apps         http://struts.apache.org/1.x/struts-apps
Redirect permanent /struts-action       http://struts.apache.org/1.x
Redirect permanent /struts-action2      http://struts.apache.org/2.x
Redirect permanent /2.0                 http://struts.apache.org/2.x
Redirect permanent /struts-doc-1.2.x    http://struts.apache.org/1.2.x
Redirect permanent /struts-doc-1.2.9    http://struts.apache.org/1.2.9
Redirect permanent /struts-doc-1.2.8    http://struts.apache.org/1.2.8
Redirect permanent /struts-doc-1.2.7    http://struts.apache.org/1.2.7
Redirect permanent /struts-doc-1.2.4    http://struts.apache.org/1.2.4
Redirect permanent /struts-doc-1.1      http://struts.apache.org/1.1
Redirect permanent /struts-doc-1.0.2    http://struts.apache.org/1.0.2
Redirect permanent /struts-action       http://struts.apache.org/1.x
Redirect permanent /struts-action2      http://struts.apache.org/2.x
Redirect permanent /WW                  http://struts.apache.org/2.x/docs 
Redirect permanent /style               http://struts.apache.org/css
