.header-link {
  position: absolute;
  right: -1em;
  top: 0.1em;
  opacity: 0;
  font-size: 0.8em;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2, h3, h4, h5, h6 {
  position: relative;
  display: inline-block;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

a.anchor {
  display: block;
  height: 94px;
  margin-top: -94px;
  visibility: hidden;
}
