<a href="http://github.com/apache/struts">
  <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
</a>

<header>
  {% include top-menu.html %}

  <div class="container">
    <div class="row">
      <div class="pull-left">
        <a href="/" id="bannerLeft">
          <img src="{{ site.root }}/img/struts.gif" alt="Apache Struts"/>
        </a>
      </div>
      <div class="pull-right"><a href="http://www.apache.org" id="bannerRight">
        <img src="{{ site.root }}/img/asf-logo.gif" alt="Apache Software Foundation"/>
      </a>
      </div>
    </div>
  </div>
</header>
