# This file is maintained at https://git-wip-us.apache.org/repos/asf?p=struts-site.git
DirectoryIndex index.html /docs/home.html

RedirectMatch \/2.*\/docs\/(.*)?    http://struts.apache.org/docs/$1
RedirectMatch \/release\/2.*\/(.*)? http://struts.apache.org/$1
RedirectMatch \/2.*\/(.*)?          http://struts.apache.org/$1
